main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/hero-img-brooke-lark-unsplash.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  display: block;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;

  gap: 0.5em;
  margin: 1em 0;
}

.form input {
  font-size: 1.1rem;
  padding: 0.3em;
}
